@media screen and (max-width: 300px) {

}
html,


  body {
    height: 100%; /*setting this explicitly is important*/
  }

li {
  display: flex; /*Targets each list containing the paragraphs*/
  padding: 0 20px;
  min-height: 70px;
}

li p {
  flex: 0 0 20%; /*This is the sweet sauce*/
}

li span.chemist-cloud {
  border: 1px solid black;
  font-size: 0.9em;
  padding: 3px;
}

li:nth-child(2n) {
  background-color: #f2f2f2;
}

  body {
    display: flex; /*flex superpowers activated! */
    flex-direction: column; /*Stack the flex-items (main and footer elements) vertically NOT horizontally*/
    background-color: #fff;
    margin:0;
    font-family: Lato, sans-serif;
    color: #222;
    font-size: 0.´9em;
  }

    main {
  flex: 1 0 auto; /*was a flex item*/
  display: flex; /*flex container with flex items: sidebar & main content section*/
  }

  footer {
    flex: 0 0 50px; /*don't grow or shrink - just stay at a height of 90px.*/
     padding: 10px;
    color: #fff;
    background-color: rgba(61, 10, 158, .9);
  }

  aside {
  	flex: 0 0 40px; /*as a flex item: do not grow or shrink. Just stay fixed at 40px*/
  	display: flex; /*Now you're a flex-container, you can decide how your flex-items are laid*/
  	flex-direction: column; /*Stack my flex-item's vertically...change the default direction*/
  	justify-content: space-around; /*Interesting...since direction is changed, this works on the vertical direction*/
  	align-items: center; /*direction is changed! This affects the horizontal direction*/
  	background-color: #f2f2f2; /*make me pretty*/
  }

  /*font size for the icons*/
  aside i.fa {
  	font-size: 0.9em;
  }

.content {
    display: flex;
    flex: 1 0 auto; /*this makes sure the section grows o fill the entire available space*/
    flex-direction: column;
}

.music-head {
  flex: 0 0 280px; /*Same memo, don't grow or shrink - stay at 280px*/
  display: flex;  
  padding: 40px;
  background-color: #4e4e4e;
}

.music-list {
	flex: 1 0 auto;
	list-style-type: none;
	padding: 5px 10px 0px;
}

.chemist-music{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: #fff;
  padding-left: 50px;
}

.chemist-music div:nth-child(1){
  margin-bottom: auto;
}

.chemist-music div:nth-child(2){
  margin-top: 0;
}

.chemist-music div:nth-child(2) i.fa{
  font-size: 0.9em;
  padding: 0 0.7em;
  font-weight: 300;
}
.chemist-music div:nth-child(1) p:first-child{
  font-size: 1.8em;
  margin: 0 0 10px;
}

.chemist-music div:nth-child(1) p:not(:first-child){
  font-size: 0.9em;
  margin: 2px 0;
}

